body {
  font-family: Helvetica, Arial, sans-serif;
}

header {
  background-color: #f1f3ff;
}

.image-hero-section {
  width: 344.22px;
  height: 199px;
  position: absolute;
  bottom: -3rem;
  left: 1rem;
  z-index: 1;
}

.bg-car {
  width: 100%;
  height: 118.81px;
  margin-top: 68px;
  background-color: #0d28a6;
  border-radius: 60px 0px 0px 0px;
}

.image-our-services {
  width: 252px;
  height: 228px;
}

#hero-section {
  background-color: #f1f3ff;
}

.card-title {
  margin-top: 16px;
  margin-bottom: 16px;
}

.container-carousel {
  background-color: #f1f3ff;
  max-width: 328px;
  height: auto;
}

.border-grey {
  opacity: 1;
  border-color: #c4c4c4 !important;
}

.hero-description {
  margin: 32px 16px 24px 16px;
}

.our-services-img-container {
  padding: 60px 54px 24px 54px;
}

.our-services-description {
  padding: 0px 16px 60px 16px;
}

.why-us-container {
  text-align: center;
}

.card-testimonies {
  width: 16.75rem;
  padding: 24px;
  margin-top: 16px;
}

.loan-banner {
  background-color: #0d28a6;
  padding: 64px 58px 64px 58px;
  border-radius: 13px;
}

.faq-container {
  margin: 60px 16px 60px 16px;
}

.faq-description {
  text-align: center;
}

.footer-container {
  margin-top: 16px;
}

.offcanvas {
  max-width: 70% !important;
}

@media (min-width: 1024px) {
  .nav-header {
    padding-left: 136px;
    padding-right: 136px;
  }

  .navbar-nav {
    justify-content: end;
  }

  .image-hero-section {
    width: 704px;
    height: 407px;
    position: absolute;
    top: 100px;
    left: 46rem;
    z-index: 1;
  }

  .hero-description {
    margin: 117px 32px 87px 136px;
  }

  .bg-car {
    width: 704px;
    height: 243px;
    margin-top: 208px;
    background-color: #0d28a6;
    border-radius: 60px 0px 0px 0px;
  }

  .our-services-img-container {
    padding: 100px 100px 100px 206px;
  }

  .image-our-services {
    width: 459px;
    height: 428px;
  }

  .our-services-description {
    padding: 136px 207px 136px 0px;
  }

  .why-us-container {
    text-align: left;
  }

  .card-testimonies {
    width: 16.75rem;
    padding: 24px;
    margin-right: 32px;
  }

  .loan-banner {
    background-color: #0d28a6;
    padding: 64px 285px 64px 285px;
    border-radius: 13px;
  }

  .faq-container {
    margin: 100px 136px 150px 136px;
  }

  .faq-description {
    margin-right: 132px;
    max-width: 368px;
    text-align: left;
  }

  .footer-container {
    margin-top: 0px;
  }

  .container-carousel {
    background-color: #f1f3ff;
    max-width: 619px;
    height: 270px;
    margin-right: 32px;
  }

  .search-box {
    width: 80%;
    margin-top: -55px;
    border-radius: 10px;
    box-shadow: inset 0 0 3px 2px #ebebeb;
    font-size: 12px;
    background-color: white;
    z-index: 1;
    position: relative;
  }
}
